<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Document title -->
	<title>Documentation Template</title>

	<!-- CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

            <nav>
        <div class="container">
            <div class="logo">
                <h1>CrimeLess</h1>
            </div>

            <div class="options">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/post">Post</a>
                <a href="/graph/bar">Bar_Graph</a>
                <a href="/graph/pie">Pie_Graph</a>
                <a href="/graph/Chart">Pie_Chart</a>
                <a href="https://github.com/Crime-less">Github</a>

            </div>

            <div class="nav-button">

                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>

            </div>

        </div>
            </nav>

			<div class="navbar-header">
				<button type="button" class="navbar-toggle responsive-nav-collapse-btn" data-toggle="collapse" data-target="#responsive-nav-collapse"><!-- * data-target = mobile navigation id -->
					<i class="fa fa-bars"></i>
				</button>
				<a href="#template-url" class="navbar-brand hidden-md hidden-lg">Template Name</a><!-- * template name here -->
			</div>


	</div>
</header>
<!-- end: header -->

<!-- documentation heading -->
<section id="docs-heading-section">
	<div class="container">
		<div class="docs-heading-container">

			<!-- title for documentation: -->
			<h1>Template Name - Documentation</h1><!-- * template name here -->

			<!-- short description: -->
			<p>This is a template for documentation. You can use this template to create documentation for your WordPress themes (<em>or for themes for any other CMS</em>) or for your HTML templates. An example of using this documentation in a real project is available <a href="http://documentation.birdwp.com/wp-orin/" target="_blank" rel="noopener noreferrer" title="Orin WordPress Theme - Documentation" class="fw-600">here</a>. <em class="fw-600">Note</em>: In this demonstration I use <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank" rel="noopener noreferrer" title="Lorem ipsum. From Wikipedia, the free encyclopedia." class="fw-600">Lorem Ipsum</a> text. Demonstration in <a href="documentation-russian-language.html" title="Демонстрация документации на Русском языке" class="fw-600">Russian</a> (<em>На Русском</em>).</p>

			<!-- optional information: -->
			<ul class="list-unstyled">
				<li>Marketplace: <a href="#url" title="Marketplace Name"><strong>Marketplace Name</strong></a></li>
				<li>By: <a href="#url" title="Your Name"><strong>Your Name</strong></a></li>
				<li>Email: <a href="mailto:youremail@yourdomain.com" title="Contact"><strong>youremail@yourdomain.com</strong></a></li>
			</ul>

		</div>
	</div>
</section>
<!-- end: documentation heading -->

<!-- content -->
<section id="docs-content-section">
	<div class="container">
		<div class="docs-content-container">
			<div class="row">

				<div class="col-md-9" role="main">
					<div class="content">

						<!-- ================= MAIN CONTENT STARTS HERE ================= -->

						<!-- * Each block must have an identifier that will be used in navigation -->

						<!-- section with text -->
						<div id="section-with-text"><!-- * ID for navigation -->

							<!-- content section -->
							<div class="content-section">
								<!-- title: -->
								<h2 class="content-section-heading ta-center">Section with text</h2>
								<!-- paragraphs: -->
								<p><strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="#" title="Test link" class="fw-600">Donec quam felis</a>, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
								<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
							</div>
							<!-- end: content section -->

						</div>
						<!-- end: section with text -->

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

</body>

</html>
