<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <title>Crimeless</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

    <nav>
        <div class="container">
            <div class="logo">
                <h1>CrimeLess</h1>
            </div>

            <div class="options">
                <a href="/">Home</a>
                <a href="/post">Post</a>
                <a href="/graph/bar">G_Bar</a>
                <a href="/graph/pie">G_Pie</a>
                <a href="/graph/finance">G_Finance</a>
                <a href="/graph/area">G_Area</a>

            </div>

            <div class="nav-button">

                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>

            </div>

        </div>
    </nav>

    <header class="showcase">
        <div class="container">
            <div class="text-content">
                <h1>범죄 기사 크롤링 및 범죄율 시각화 프로젝트</h1>
                <p>
                    저희 조는 주요 포털사이트로부터 범죄 관련 뉴스를 크롤링한 후 분석한 다음 범죄의 경향성을 시각화하는 웹이라는 주제로 프로젝트를 진행하였습니다.
                    그 과정에서, 크롤링, 데이터 전처리, 데이터 시각화, 웹 개발이라는 분야를 나눠서 처리하였고, 이와 같은 웹 서비스를 만들었습니다.
                    <br>
                    <br>
                    (범죄는 일어나서는 안되지만 미리 그 발생 건수를 알아봄으로써 예방을 할 수 있다고 생각하였습니다.)
                    <br>
                    <br>
                    (해당 사이트는 그래프 별로 Matplotlib를 백엔드 상에서 실행되도록 개발하였습니다.)

                </p>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h1 class="editor-h1">분류한 범죄 카테고리들</h1>
            <div class="articles">
                    <img src="/static/image/p.jpeg" alt="" />
                    <article>
                        <p class="entertainment-category">폭행</p>
                        <h1>학교폭력 / 존속폭행 / 성폭행 / 집단 폭행 등</h1>
                        <p>
                            형법 제260조(폭행, 존속폭행)
                            <br>
                            ①사람의 신체에 대하여 폭행을 가한 자는 2년 이하의 징역, 500만원 이하의 벌금, 구류 또는 과료에 처한다.
                            <br>
                            ②자기 또는 배우자의 직계존속에 대하여 제1항의 죄를 범한 때에는 5년 이하의 징역 또는 700만원 이하의 벌금에 처한다.
                            <br>
                            ③제1항 및 제2항의 죄는 피해자의 명시한 의사에 반하여 공소를 제기할 수 없다.
                        </p>
                    </article>
                </a>

                    <article>
                        <p class="sports-category">강도</p>
                        <h1>소매치기 / 빈집털이 / 특수 강도 등</h1>
                        <p>
                            형법 제333조(강도) 폭행 또는 협박으로 타인의 재물을 강취하거나 기타 재산상의 이익을 취득하거나 제삼자로 하여금 이를 취득하게 한 자는 3년 이상의 유기징역에 처한다.
                            <br>
                            제341조(상습범) 상습으로 제333조, 제334조, 제336조 또는 전조제1항의 죄를 범한 자는 무기 또는 10년 이상의 징역에 처한다.
                            <br>
                            제342조(미수범)제329조 내지 제341조의 미수범은 처벌한다.
                            <br>
                            제343조(예비, 음모) 강도할 목적으로 예비 또는 음모한 자는 7년 이하의 징역에 처한다.
                            <br>
                            제345조(자격정지의 병과) 본장의 죄를 범하여 유기징역에 처할 경우에는 10년 이하의 자격정지를 병과할 수 있다.
                        </p>
                    </article>
                </a>

                    <img src="/static/image/s.jpeg" alt="" />
                    <article>
                        <p class="technology-category">살인</p>
                        <h1>영유아 살인 / 계획 살인 / 살인 미수 등</h1>
                        <p>
                            형법 제250조(살인, 존속살해)
                            <br>
                            ①사람을 살해한 자는 사형, 무기 또는 5년 이상의 징역에 처한다.
                            <br>
                            ②자기 또는 배우자의 직계존속을 살해한 자는 사형, 무기 또는 7년 이상의 징역에 처한다.
                        </p>
                    </article>
                </a>

                    <article>
                        <p class="sports-category">금융</p>
                        <h1>보이스 피싱 / 악성 웹 유도 / 금융 사기</h1>
                        <p>
                            형법 제347조 (사기)
                            <br>
                            ①사람을 기망하여 재물의 교부를 받거나 재산상의 이익을 취득한 자는 10년 이하의 징역 또는 2천만원 이하의 벌금에 처한다.
                            <br>
                            ②전항의 방법으로 제삼자로 하여금 재물의 교부를 받게 하거나 재산상의 이익을 취득하게 한 때에도 전항의 형과 같다.
                        </p>
                    </article>
                    <img src="/static/image/do.jpeg" alt="" />
                </a>

                    <img src="/static/image/Cyber.jpg" alt="" />
                    <article>
                        <p class="technology-category">사이버</p>
                        <h1>사이버 테러 / 해킹 / 피싱 사이트 등</h1>
                        <p>
                            제48조(정보통신망 침해행위 등의 금지) ① 누구든지 정당한 접근권한 없이 또는 허용된 접근권한을 넘어 정보통신망에 침입하여서는 아니 된다.
                            <br>
                            ② 누구든지 정당한 사유 없이 정보통신시스템, 데이터 또는 프로그램 등을 훼손·멸실·변경·위조하거나 그 운용을 방해할 수 있는 프로그램(이하 “악성프로그램”이라 한다)을 전달 또는 유포하여서는 아니 된다.
                            <br>
                            ③ 누구든지 정보통신망의 안정적 운영을 방해할 목적으로 대량의 신호 또는 데이터를 보내거나 부정한 명령을 처리하도록 하는 등의 방법으로 정보통신망에 장애가 발생하게 하여서는 아니 된다.
                        </p>
                    </article>
                </a>

                   <article>
                        <p class="sports-category">도박</p>
                        <h1>불법 사이트 / 토토 / 카지노 등</h1>
                        <p>
                            형법 제246조(도박, 상습도박)
                            <br>
                            ① 도박을 한 사람은 1천만원 이하의 벌금에 처한다. 다만, 일시오락 정도에 불과한 경우에는 예외로 한다.
                            <br>
                            ② 상습으로 제1항의 죄를 범한 사람은 3년 이하의 징역 또는 2천만원 이하의 벌금에 처한다.
                        </p>
                    </article>
                </a>

                    <article>
                        <p class="entertainment-category">학대 및 괴롭힘</p>
                        <h1>학교폭력 / 따돌림 / 왕따 / 직장내 괴롭힘 등</h1>
                        <p>
                            형법 제273조(학대, 존속학대)
                            <br>
                            ① 자기의 보호 또는 감독을 받는 사람을 학대한 자는 2년 이하의 징역 또는 500만원 이하의 벌금에 처한다.
                            <br>
                            ② 자기 또는 배우자의 직계존속에 대하여 전항의 죄를 범한 때에는 5년 이하의 징역 또는 700만원 이하의 벌금에 처한다.
                        </p>
                    </article>
                    <img src="/static/image/hp.jpeg" alt="" />
                </a>
            </div>
        </div>
    </section>

    <script>

        // Sign In 버튼 클릭 시 login.html로 이동하는 JavaScript 코드

        document.getElementById("loginBtn").onclick = function () {

            window.location.href = "/auth/login";

        };

        // Sign In 버튼 클릭 시 register.html로 이동하는 JavaScript 코드

        document.getElementById("registerBtn").onclick = function () {

        window.location.href = "/auth/signup";

    };



    </script>

</body>

</html>